:root {
  --title-font: "Cinzel", serif;
  --body-font: "Poppins", sans-serif;
  --bg-color: #fde9df;
  --primary-color: #393e46;
  --secondary-color: #ea8a8a;
}

.container {
  display: block;
  margin: 60px auto;
  max-width: 700px;
  padding: 60px 60px;
}

body {
  background-color: var(--bg-color);
  font-family: var(--body-font);
}

h1 {
  font-family: var(--title-font);
  color: var(--primary-color);
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 10px;
}

footer {
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
}
a {
  color: var(--primary-color);
  font-weight: 600;
}

.intruction {
  font-size: 13px;
  text-align: center;
  margin-bottom: 30px;
}

.form-container {
  margin: 30px;
}

.search-field {
  color: var(--secondary-color);
  padding: 16px;
  border: 1px solid var(--secondary-color);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
}

.submit-button {
  margin-left: 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
  font-size: 16px;
  width: 150px;
}

.hint {
  font-size: 13px;
  color: var(--primary-color);
}

.generated-response {
  margin: 30px auto;
  font-size: 16px;
  background-color: #ffffff;
  padding: 10px;
  line-height: 1.5;
  border-left: 3px solid var(--secondary-color);
}
